# Binaries for SDKs and apps
*.exe
*.exe-
*.dll
*.so
*.dylib

# Test binary built for 'go test'
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Go workspace file
go.work

# IDE / Editor files
.vscode/
.idea/

# Environment variables
.env

# Database / SQLite files
*.db
*.sqlite
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# PDFs and Docs
*.pdf
presentation_soutenance.md

# Local folders
.ssh/
scratch/
